<IfModule mod_headers.c>
  Header always unset X-Frame-Options
  Header always set   X-Frame-Options "SAMEORIGIN"

  Header always unset Content-Security-Policy
  Header always set   Content-Security-Policy "frame-ancestors 'self'"
</IfModule>
